<div class="container">
  <div class="row">
    <h1>出荷カレンダー</h1>
    <div class="shipment-make-first">
      <%= link_to "工事一覧", users_constructions_path, class: "btn btn-primary" %>
    </div>
    <div class="m-2" id='calendar'></div>
    <%= javascript_pack_tag 'calendar/event' %>
  </div>
</div>

